/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: #0f0f0f;
    background-image: url(./assets/bg-koi.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* CONTAINER */
#container {
    width: 360px;
    max-width: 90%;
}

/* LOGO */
#profile {
    margin-top: 20px;
    /* sobe o bloco todo */
}

#profile img {
    width: 120px;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    animation: pulseGlow 4s infinite;
}

#profile p {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #f1f1f1;
}

/* LINKS */
ul {
    list-style: none;
    margin-top: 35px;
}

ul li {
    margin: 20px 0;
    /* espaçamento maior entre botões */
}

ul li a {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

ul li a:hover {
    background: white;
    color: black;
}

/* FOOTER CENTRALIZADO E FIXO */
.footer {
    position: center;
    bottom: 20px;
    /* distância do final da tela */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 10px;
    color: #94a3b8;
    animation: pulse 1.6s infinite;
}

.footer a {
    color: #94a3b8;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ffffff;
}

/* EFEITO PULSAR */
@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

/* EFEITO DE BRILHO NO LOGO */
@keyframes pulseGlow {

    0%,
    100% {
        filter: drop-shadow(0 0 5px #fff);
    }

    50% {
        filter: drop-shadow(0 0 20px #dbdb22);
    }
}

/* RESPONSIVO */
@media (max-width: 480px) {
    #container {
        width: 90%;
    }

    ul li a {
        padding: 12px;
        font-size: 0.9rem;
    }
}
